.offcanvas {
    transition: 0.1s !important;
}

.user__info {
    display: flex;
    align-items: center;
    width: 180px;
    gap: 10px;
}


@media (max-width: 1440px) {

    h1,
    h2 {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .userInfo h2 {
        margin-bottom: 0px;
    }
}


@media (max-width: 1050px) {
    .responsive__hide {
        display: block;
    }

    .leftMenuBar {
        display: none;
    }

    .leftSideBar {
        width: 0px;
        border-right: 0;
    }

    .mainBody {
        width: 100%;
    }

    .lidTableHeader {
        padding: 10px 15px 10px 37px;
    }

    .lidHeaderSecond {
        padding: 10px 35px !important;
    }

    td input {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .lidTableBody {
        overflow: unset;
    }

    .userInfo h2 {
        line-height: 20px !important;
        margin-bottom: 0;
        font-size: 18px !important;
    }

    .titleLists {
        font-size: 20px !important;
    }

    .lidHeaderSecond {
        padding: 10px 25px !important;
    }

    .tab__1 {
        width: 0.1% !important;
    }

    .tartib {
        width: 36px;
    }

    .delete {
        display: none;
    }

    .actionstab {
        padding: 2px;
    }

    .actions::after {
        content: "A";
        text-align: center;
        left: 10px;
    }

    .userInfo h2 {
        display: none;
    }

    .user__info {
        flex-direction: column;
        width: 50px;
        gap: 2px;
    }

    .user .userImg {
        width: 40px;
    }
}

@media (max-width: 677px) {
    .tab__7 {
        display: none !important;
    }
}


@media (max-width: 600px) {

    .tab__5,
    .tab__4 {
        display: none !important;
    }

    th,
    td {
        padding: 5px;
    }
}

@media (max-width: 520px) {
    .breadcrumb {
        flex-direction: column;
        align-items: start;
    }

    .breadcrumb li {
        padding: 0 !important;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        display: none;
    }

    .addLid {
        padding: 7px 13px;
    }

    .responsive__hide-button {
        top: 0px;
        left: 8px;
    }

    .res__none {
        display: none;
    }
}

@media (max-width: 445px) {

    .lidHeaderSecond {
        padding: 10px 10px !important;
    }

    .titleLists {
        font-size: 18px !important;
    }

    td {
        font-size: 14px;
    }
}

@media (max-width:320px) {
    td {
        padding: 5px 0px;
    }
}